@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-app-white: #fff;
  --color-app-white-black: #000;
  --color-app-white-lite: rgba(255, 255, 255, 0.8);
  --color-app-black-lite: rgba(0, 0, 0, 0.6);
  --color-app-blue: rgba(0, 93, 215, 1);
  --color-app-blue-lite: rgba(0, 133, 255, 1);
}

body {
  background-color: var(--background);
}

.swiper {
  padding: 4px 0 !important;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: var(--swiper-pagination-bottom, 0px) !important;
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
}